html {
  box-sizing: border-box;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  .choose-player-dropdwn {
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 40px;
    background-color: #eaeaea;
    border: none;
  }

  .player-stats-box {
    width: 320px;
    margin: 0 auto;
    padding: 15px;
    background-color: #ec0150;
    color: #FFFFFF;

    span {
      width: auto;
      float:right;
      font-weight:bold;
    }

    .Cell{
      background-color: #EAEAEA;
      color:black;
      border: 2px solid #ec0150;
      padding: 20px;
    }

  }

  .player-img-container {
    width: 300px;
    height: 170px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 110px
  }

}
