html {
  box-sizing: border-box;
  font-size: large; }

body .choose-player-dropdwn {
  display: block;
  margin: 0 auto;
  width: 300px;
  height: 40px;
  background-color: #eaeaea;
  border: none; }

body .player-stats-box {
  width: 320px;
  margin: 0 auto;
  padding: 15px;
  background-color: #ec0150;
  color: #FFFFFF; }
  body .player-stats-box span {
    width: auto;
    float: right;
    font-weight: bold; }
  body .player-stats-box .Cell {
    background-color: #EAEAEA;
    color: black;
    border: 2px solid #ec0150;
    padding: 20px; }

body .player-img-container {
  width: 300px;
  height: 170px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 110px; }
